@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Sistema de registro del hotel</h1>
    <p class="lead">Pantalla principal del registro del hotel.</p>
</div>

<div class="row">

</div>