
@{
    ViewBag.Title = "Inicio";
}
<div class="jumbotron" style="        background-image:url(/Content/img/brach-banner-png.png)">
    <br><br><br><br><br><br><br><br>
</div>

<div class="justify-content-center">
    <h1>Bienvenido @ViewBag.Message</h1>
</div>
<div class="row">

</div>