@{
    ViewBag.Title = "Inicio";
}

    <div class="jumbotron" style="        background-image:url(/Content/img/brach-banner-png.png)">
        <br><br><br><br><br><br><br><br>
    </div>

<div class="row">

</div>