@model IEnumerable<hotel.Models.TypeOfBonification>

@{
    ViewBag.Title = "Tipo de bonificaciones";
}

<h2>Tipo de bonificaciones</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Dias de alojamiento:
        </th>
        <th>
            Bono:
        </th>
        <th></th>
    </tr>

    @foreach (var bonusType in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelbonusType => bonusType.daysLodging)
            </td>
            <td>
                @Html.DisplayFor(modelbonusType => bonusType.bonus)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = bonusType.typeOfBonificationID })'">Editar</button>
               
            </td>
        </tr>
    }
</table>