@model IEnumerable<hotel.Models.State>

@{
    ViewBag.Title = "Estados Mexicanos";
}

<h2>Estados Mexicanos</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar nuevo Estado</button>
</p>
<table class="table">
    <tr>
        <th>
            Estado de la Republica Mexicana:
        </th>
        <th></th>
    </tr>

    @foreach (var state in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelstate => state.state1)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = state.stateID })'">Editar</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = state.stateID })'">Eliminar</button>
            </td>
        </tr>
    }
</table>