@model hotel.Models.Promo

@{
    ViewBag.Title = "Borrar promoción";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de eliminar este registro? Esta accion no se podra deshacer.</h3>
<div>
    

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <br />
        <br />
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index")'">Regresar</button>
    </div>
    }
</div>
