@model IEnumerable<hotel.Models.consulta1>

@{
    ViewBag.Title = "Index";
}

    <h2>Reporte de habitaciones disponibles clasificado por tipo de habitación.</h2>

    <br />
    <label>Se muestran las habitaciones que se encuentran disponibles.</label>
<table class="table">
    <tr>
        <th>
            Tipo de Habitación
        </th>
        <th>
            Cantidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.typeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Expr1)
    </td>
</tr>
}

</table>
