@model IEnumerable<hotel.Models.busqueda_reporte9_Result>

@{
    ViewBag.Title = "Reporte 9";
}

    <h2>
        Reporte de ganancias obtenidas por servicios adquiridos clasificados por tipo de servicio y en
        base a un rango de fechas dado.
    </h2>
<br />
@using (Html.BeginForm("reporte9", "Reportes", FormMethod.Post))
{
    <fieldset>
        @Html.Label("fromDate", "Inicio:", htmlAttributes: new { @class = "control-label col-md-2" })
        <input class="form-control" id="fromDate" name="fromDate" type="date" value="">
        @Html.Label("toDate", "Fin:", htmlAttributes: new { @class = "control-label col-md-2" })
        <input class="form-control" id="toDate" name="toDate" type="date" value="">
        <input type="submit" value="Apply" class="btn btn-primary" />
    </fieldset>
}
<br />

<table class="table">
    <tr>
        <th>
            Elemento:
        </th>
        <th>
            Precio:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ganancia)
            </td>
        </tr>
    }

</table>

@{
    ViewBag.Title = "reporte8";
}

<h2>reporte8</h2>

