@model IEnumerable<hotel.Models.busqueda_reporte12_Result>

@{
    ViewBag.Title = "Reporte 12";
}

    <h2>
        Reporte del departamento con mejor rating de satisfacción, en base a un rango de fechas dado.
    </h2>
<br />
@using (Html.BeginForm("reporte12", "Reportes", FormMethod.Post))
{
    <fieldset>
        @Html.Label("fromDate", "Inicio:", htmlAttributes: new { @class = "control-label col-md-2" })
        <input class="form-control" id="fromDate" name="fromDate" type="date" value="">
        @Html.Label("toDate", "Fin:", htmlAttributes: new { @class = "control-label col-md-2" })
        <input class="form-control" id="toDate" name="toDate" type="date" value="">
        <input type="submit" value="Aplicar" class="btn btn-primary" />
    </fieldset>
}
<br />

<table class="table">
    <tr>
        <th>
            Metodo de reservación:
        </th>
        <th>
            Ganancia:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.promedio)
            </td>
        </tr>
    }

</table>
