@model IEnumerable<hotel.Models.AmenityReview>

@{
    ViewBag.Title = "Calificación de amenidades";
}

<h2>Reseña de comodidates</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Calificación:
        </th>
        <th>
            Fecha de calificación:
        </th>
        <th>
            ID de Comodidad:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reviewAmenity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomAmenity.Service.name)
            </td>
        </tr>
    }

</table>