@model IEnumerable<hotel.Models.ServiceType>

@{
    ViewBag.Title = "Tipo de Servicios";
}

<h2>Tipo de Servicios</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            Tipo de servicio:
        </th>
    </tr>

    @foreach (var serviceType in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelserviceType => serviceType.serviceType1)
            </td>
        </tr>
    }
</table>