@model IEnumerable<hotel.Models.Bonification>

@{
    ViewBag.Title = "Bonificaciones";
}

<h2>Bonificaciones</h2>


<table class="table">
    <tr>
        <th>
            Nombre de empleado:
        </th>
        <th>
            Tipo de bonificación:
        </th>
        <th>
            Fecha de emision:
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TypeOfBonification.typeOfBonificationID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.date)
    </td>
</tr>
    }

</table>