@model IEnumerable<hotel.Models.ReservationStatus>

@{
    ViewBag.Title = "Estado de reservación";
}

<h2>Estado de reservación</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Estado:
        </th>
    </tr>

    @foreach (var status in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelstatus => status.status)
            </td>
        </tr>
    }
</table>