@model IEnumerable<hotel.Models.RoomStatus>

@{
    ViewBag.Title = "Estatus de Habitaciones";
}

<h2>Estatus de Habitaciones</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Estatus:
        </th>
    </tr>

    @foreach (var status in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelstatus => status.statusName)
            </td>
        </tr>
    }
</table>