@model IEnumerable<hotel.Models.Reservation>

@{
    ViewBag.Title = "Reservaciones";
}

<br />
<h2>Cantidad de reservaciones</h2>
<br />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div>

<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawMaterial);

    function drawMaterial() {
        $(function () {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/reservations/jsonarmado',
                success: function (chartsdata) {
                    // Callback that creates and populates a data table,
                    // instantiates the pie chart, passes in the data and
                    // draws it.

                    //get JSONList from Object
                    var Data = chartsdata.JsonList;
                    var data = new google.visualization.DataTable();

                    data.addColumn('string', 'metodo');
                    data.addColumn('number', 'conteo');

                    console.log(Data);

                    //Loop through each list data
                    for (var i = 0; i < Data.length; i++) {
                        console.log(Data[i].metodo);
                        data.addRow([Data[i].metodo, Data[i].conteo]);
                    }
                    // Instantiate and draw our chart, passing in some options
                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

                    //Draw pie chart command with data and chart options
                    chart.draw(data,
                        {
                            title: "Google pie Chart in ASP.NET MVC",
                            position: "top",
                            fontsize: "14px",
                        });

                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            });
        })

    }
</script>
