@model IEnumerable<hotel.Models.Departament>

@{
    ViewBag.Title = "Departamentos";
}

<h2>Departamentos</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Tipo:
        </th>
        <th>
            Administrador:
        </th>
        <th></th>
    </tr>

@foreach (var department in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modeldepartment => department.type)
        </td>
        <td>
            @{if (department.admin == "1")
                {
                    <img src="~/Content/img/si.png" alt="Sample Photo" width="20" />
                }
                else
                {
                    <img src="~/Content/img/no.png" alt="Sample Photo" width="20" />
                }
            }
        </td>
        <td>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = department.departamentID })'">Editar</button>
        </td>
    </tr>
}

</table>
